<h3>  History </h3>

<hr>

<p id="about">

The Runner's Edge was founded in 1985 by owner Bob Cook. Since its inception, the store has outgrown 2 locations and in 2003 moved to larger quarters, at 242 Main Street, right in the heart of Farmingdale Village. The Runner's Edge is your Running and Multi-sport Headquarters, carrying all the latest footwear, performance clothing, energy products, wetsuits, jogbras and more. The staff of the Runner's Edge has decades of running and multisport experience and can help you find the right shoes, clothes and accessories to meet your needs as well as provide information and applications for upcoming runs and multisport events. The friendly and experienced staff can assist you with any questions that you might have. Team Runner's Edge is the store's very successful Multi-sports team and Men's and Women's Racing Teams. They are comprised of athletes of all abilities who compete in local, national and international events. The Runner's Edge offers weekly runs and rides as well as a weekly track workout (seasonal and weather permitting!) open to everyone. In the Summer there are several group open water swims per week.

</p>