<div id="product1" class="sets col-xs-12 products">
	<img class="images" src="img/product1.jpg">
	<input class="addercart" id="add1" type="submit" value="Add to Cart"/>
	<input class="suber" id="sub1s" type="submit" value="Remove"/>
	<span id="incart1"> Currently in cart:0</span>
</div>
<div id="product2" class="sets col-xs-12 products">
	<img class="images" src="img/product2.jpg">
	<input class="addercart" id="add2" type="submit" value="Add to Cart"/>
	<input class="suber" id="sub2s" type="submit" value="Remove"/>
	<span id="incart2"> Currently in cart:0</span>
</div>
<div id="product3" class="sets col-xs-12 products">
	<img class="images" src="img/product3.jpg">
	<input class="addercart" id="add3" type="submit" value="Add to Cart"/>
	<input class="suber" id="sub3s" type="submit" value="Remove"/>
	<span id="incart3"> Currently in cart:0</span>
</div>
<div id="product4" class="sets col-xs-12 products">
	<img class="images" src="img/product4.jpg">
	<input class="addercart" id="add4" type="submit" value="Add to Cart"/>
	<input class="suber" id="sub4s" type="submit" value="Remove"/>
	<span id="incart4"> Currently in cart:0</span>
</div>
<div id="product5" class="sets col-xs-12 products">
	<img class="images" src="img/product5.jpg">
	<input class="addercart" id="add5" type="submit" value="Add to Cart"/>
	<input class="suber" id="sub5s" type="submit" value="Remove"/>
	<span id="incart5"> Currently in cart:0</span>
</div>
<div id="product6" class="sets col-xs-12 products">
	<img class="images" src="img/product6.jpg">
	<input class="addercart" id="add6" type="submit" value="Add to Cart"/>
	<input class="suber" id="sub6s" type="submit" value="Remove"/>
	<span id="incart6"> Currently in cart:0</span>
</div>
<div id="product7" class="sets col-xs-12 products">
	<img class="images" src="img/product7.jpg">
	<input class="addercart" id="add7" type="submit" value="Add to Cart"/>
	<input class="suber" id="sub7s" type="submit" value="Remove"/>
	<span id="incart7"> Currently in cart:0</span>
</div>
<div id="product8" class="sets col-xs-12 products">
	<img class="images" src="img/product8.jpg">
	<input class="addercart" id="add8" type="submit" value="Add to Cart"/>
	<input class="suber" id="sub8s" type="submit" value="Remove"/>
	<span id="incart8"> Currently in cart:0</span>
</div>
<div id="product9" class="sets col-xs-12 products">
	<img class="images" src="img/product9.jpg">
	<input class="addercart" id="add9" type="submit" value="Add to Cart"/>
	<input class="suber" id="sub9s" type="submit" value="Remove"/>
	<span id="incart9"> Currently in cart:0</span>
</div>