<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="Stylesheet" href="css/main.css">

<body>
   <!-- <h1>Grid Example</h1> -->
        <!-- <p>We'll need a .container class that will have .row (s) inside of it... then we'll use the .col-xs and .col-lg classes to create the layout drawn on the whiteboard.</p> -->
        <!-- <hr /> -->
        <!--Master Container-->
        <div class="container">
            <div class="row"><!--row 1-->
                <div class="col-xs-12 image">
                	<div id="quote_start">SampleText ...</div>
                	<div id="quote_end">... SampleText</div>
                </div>
            </div>
            <div class="row"><!--row 2-->
                <div class="col-xs-4 gray ">
                    <h2>12</h2>
                </div>
                <div class="col-xs-4 red ">
                    <h3>13</h3>
                </div>
                <div class="col-xs-4 yellow">
                    <h4>14</h4>
                </div>
            </div>
            <div class="row"><!--row 3-->
                <div class="col-xs-6 green">
                    <p>15</p>
                </div>
                <div class="col-xs-6 blue">
                    <p>16</p>
                </div>
            </div>
        </div>
</body>
<!-- <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/core.js"></script>
<script src="js/main.js"></script>


<!-- 
<div id="Container">

	<div id="images">

		<div id="Quote_start"><span>SampleText ...</span></div>

		<div id="Quote_end"><span>... Sampletext2</span></div>

	</div>
</div> -->


