<div class="container">
<div class="row">
		<div class="col-lg-14 image" id="gallery" onclick='function cycleImg();'>
		<div id="quote_start"><span><em><strong>"The will to win means nothing...</strong></em></span></div>
		<div id="quote_end"><span><em><strong>...without the will to prepare"</strong></em></span></div>
		</div>
	</div>
<div class="container">
	<hr>
<div id="lorem">	
	<div id="lorem2"> 100% SATISFACTION GUARANTEED YOUR RUNNING & MULTISPORT SOURCE
	</div>
	<div id="lorem3">
		<p>Founded in 1985 by Bob Cook, Runner’s Edge is your local running and multi-sport retail shop. We offer the latest footwear, performance apparel, energy products, wetsuits and more.
		Our friendly staff has decades of running and multi-sport experience and is here to help you find the right training gear. Each day we strive to provide the best possible experience for our customers regardless of fitness level. We guarantee your satisfaction whether you are taking your first steps toward an active lifestyle or taking on an extreme endurance event.</p>
	</div>
</div>
	<div class="row" id="productphotos">
		<div> <a href="http://localhost:4567/product" class="col-md-4 column" id="sock" class="click"></a></div>
		<div> <a href="http://localhost:4567/product" class="col-md-4 column" id="shoe" class="click"></a></div>
		<div> <a href="http://localhost:4567/product" class="col-md-4 column" id="bag" class="click"></a></div>
	</div>
</div>




