<div class="container">
	<div class="row">
		<div class="col-lg-14 image"></div>
		<div id="quote_start"><span>SampleText ...</span></div>
		<div id="quote_end"><span>... Sampletext2</span></div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4 column">4</div>
		<div class="col-md-4 column">4</div>
		<div class="col-md-4 column">4</div>
	</div>
</div>





