<div class="container">
<div class="row">
		<div class="col-lg-14 image">
		<div id="quote_start"><span>Inspiring quote Beginning ...</span></div>
		<div id="quote_end"><span>... Inspiring quote ending</span></div>
		</div>
	</div>
<div class="container">
	<hr>
<div id="lorem">	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam deserunt eaque nihil, error molestias, quidem at quis, consequuntur est veniam, eveniet officia. Quo nemo doloribus quos ut dolorum omnis, incidunt!</p>
</div>
	<div class="row" id="productphotos">
		<div class="col-md-4 column" id="sock" class="click"></div>
		<div class="col-md-4 column" id="shoe" class="click">4</div>
		<div class="col-md-4 column" id="bag" class="click">4</div>
	</div>
</div>
<!-- <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/core.js"></script>
<script src="js/main.js"></script>
<!-- 
<div id="Container">

	<div id="images">

		<div id="Quote_start"><span>SampleText ...</span></div>

		<div id="Quote_end"><span>... Sampletext2</span></div>

	</div>
</div> -->



