<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
    </head>
    <body>
        <nav>
            <img id="top" src="../img/header_bg.jpg">
            <ul class="linkul">
            <% settings.menu.each do |item| %>
            <li class="headerlinks"><a href="<%= item[:route] %>"><%=item[:title] %></a></li>
            <% end %>
            </ul>
        </nav><br><br>
            <%= yield %>
        <div class="container">
        </div>
        <div id="footer">
            <h5><a class="up" href=#top><strong>Back to top</strong></a></h5>
            <div class="row">
                <div class="col-xs-2 left">
                    <h5>Reach out to us:</h5>
                    <p>Deleon & Rappole<br>242 Main St.<br>Farmingdale NY 11735</p>
                </div>
                <div class="col-xs-2 left">
                    <h5>Email us:</h5>
                    <p>Rappole - <a class="up" target="_blank" href="http://yahoo.com">rappole4@yahoo.com</a><br>Deleon - <a class="up" target="_blank" href="http://gmail.com">sdells@gmail.com</a></P>
                </div>
                <div class="col-xs-2 left">
                    <h5>Call us:<br>(516) 420 - 7963</h5>
                    <h5>Hours of operations:<br>10 AM EST - 6 PM EST</h5>
                </div>
                <div class="col-xs-2 left">
                    <label>Please give an email address, to recieve other great deals.</label><br><input class="submit">
                    <input class="submit" type="submit" value="Submit"/>
                </div>
            </div>
        </div>
        <script src="js/cookies.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>