<div id="product1" class="sets col-xs-3 productbuy">
	<img class="imagebuy" src="img/product1.jpg"><br>
	<input class="adder" id="add1" type="submit" value="Add to Cart"/>
	<input class="subers" id="sub1s" type="submit" value="Remove"/><br>
	<span id="incart1"> Currently in cart:0</span>
</div>
<div id="product2" class="sets col-xs-3 productbuy">
	<img class="imagebuy" src="img/product2.jpg"><br>
	<input class="adder" id="add2" type="submit" value="Add to Cart"/>
	<input class="subers" id="sub2s" type="submit" value="Remove"/><br>
	<span id="incart2"> Currently in cart:0</span>
</div>
<div id="product3" class="sets col-xs-3 productbuy">
	<img class="imagebuy" src="img/product3.jpg"><br>
	<input class="adder" id="add3" type="submit" value="Add to Cart"/>
	<input class="subers" id="sub3s" type="submit" value="Remove"/><br>
	<span id="incart3"> Currently in cart:0</span>
</div>
<div id="product4" class="sets col-xs-2 productbuy">
	<img class="imagebuy" src="img/product4.jpg"><br>
	<input class="adder" id="add4" type="submit" value="Add to Cart"/>
	<input class="subers" id="sub4s" type="submit" value="Remove"/><br>
	<span id="incart4"> Currently in cart:0</span>
</div>
<div id="product5" class="sets col-xs-3 productbuy">
	<img class="imagebuy" src="img/product5.jpg"><br>
	<input class="adder" id="add5" type="submit" value="Add to Cart"/>
	<input class="subers" id="sub5s" type="submit" value="Remove"/><br>
	<span id="incart5"> Currently in cart:0</span>
</div>
<div id="product6" class="sets col-xs-3 productbuy">
	<img class="imagebuy" src="img/product6.jpg"><br>
	<input class="adder" id="add6" type="submit" value="Add to Cart"/>
	<input class="subers" id="sub6s" type="submit" value="Remove"/><br>
	<span id="incart6"> Currently in cart:0</span>
</div>
<div id="product7" class="sets col-xs-3 productbuy">
	<img class="imagebuy" src="img/product7.jpg"><br>
	<input class="adder" id="add7" type="submit" value="Add to Cart"/>
	<input class="subers" id="sub7s" type="submit" value="Remove"/><br>
	<span id="incart7"> Currently in cart:0</span>
</div>
<div id="product8" class="sets col-xs-2 productbuy">
	<img class="imagebuy" src="img/product8.jpg"><br>
	<input class="adder" id="add8" type="submit" value="Add to Cart"/>
	<input class="subers" id="sub8s" type="submit" value="Remove"/><br>
	<span id="incart8"> Currently in cart:0</span>
</div>
<div id="product9" class="sets col-xs-3 productbuy">
	<img class="imagebuy" src="img/product9.jpg"><br>
	<input class="adder" id="add9" type="submit" value="Add to Cart"/>
	<input class="subers" id="sub9s" type="submit" value="Remove"/><br>
	<span id="incart9"> Currently in cart:0</span>
</div>