.linkul {
	margin: 0px;
	background-color:rgba(230,230,230,.8);
	padding: 0px 5px 5px 0px;
	text-align:right;
	font-size:30px;
	list-style:none;
}
.headerlinks {
	display:inline-block;
	padding:0px 20px;
}
.products {
	padding:0px 90px;
	margin:5px;
}
.productbuy {;
	margin:5px;
}
.imagebuy {
	height:170px;
	width:170px;
}
.images {
	height:30px;
	width:30px;
}
.addercart {
	display:none;
}
input {
	padding:0px 20px;
}
#top {
	height:75px;
	display:inline-block;
	float:left;
	background-color:rgba(230,230,230,.8);
}
#footer {
	background-color:rgba(100,100,100,.8);
	color:white;
	height:250px;
}
.submit {
	color:black;
}
.up {
	margin:0px 0px 0px 3px;
	color:yellow;
}
.left {
	margin:0px 0px 0px 80px;
}
.image {
	background-image: url(../img/Muddy_Shoes.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 1px solid black;
	position: relative;
	height: 450px;
	width: 114.7%;
	margin: 0px 0px 0px -100px;
	z-index: 0;
}
.column {
	border: 1px solid black;
	text-align: center;
	height: 300px;
	width: 300px;
	padding: 0px 20px 0px 20px;
}
#quote_start {
	color: white;
	position: absolute;
	top: 100px;
	left: 20px;
}
#quote_end {
	color: white;
	position: absolute;
	right: 20px;
	bottom: 120px;
}
